<%- include('header'); -%>
<h1 class="text-center"><%= page.description %></h1>
<p class="text-center fs-3">
    Visita nuestra sección de <a href="/ads">Anuncios</a> y
    encuentra aquello que siempre has deseado. ¡Suerte!
</p>
<%- include('footer'); -%>
